:root {
  --color-first: #ffffff;
  --color-second: #f36c20;
  --color-second-opacity: hwb(22 13% 5% / 0.15);
  --color-third: #fff6ee;

  --color-font-first: #092731;

  --color-black-first: #000;
  --color-black-second: #a9b2c6;

  --color-link-first: #f36d20;
}
