:root {
  --color-first: #ffffff;
  --color-second: #f36c20;
  --color-second-opacity: hwb(22 13% 5% / 0.15);
  --color-third: #fff6ee;

  --color-font-first: #092731;

  --color-black-first: #000;
  --color-black-second: #a9b2c6;

  --color-link-first: #f36d20;

  --font-14: 100px;
}

/* Font */
:root {
  --font-12: clamp(10px, 10px + 0.3vw, 12px);
  --font-14: clamp(10px, 10px + 0.3vw, 14px);
  --font-16: clamp(10px, 10px + 0.3vw, 16px);

  --font-18: clamp(11.5px, 11.5px + 0.4vw, 18px);

  --font-20: clamp(14px, 14px + 0.4vw, 20px);
  --font-22: clamp(16px, 16px + 0.4vw, 22px);
  --font-24: clamp(17px, 17px + 0.4vw, 24px);
  --font-30: clamp(21px, 21px + 0.4vw, 30px);
  --font-32: clamp(23px, 23px + 0.4vw, 32px);
  --font-36: clamp(25px, 25px + 0.4vw, 36px);
  --font-40: clamp(28px, 28px + 0.4vw, 40px);
  --font-42: clamp(30px, 30px + 0.4vw, 42px);
}
