.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  margin-bottom: 2.5%;
}

.main-header .logo {
  display: flex;
  align-items: center;
}
.main-header .logo .img {
  width: clamp(30px, 30px + 2vw, 60px);
  height: clamp(30px, 30px + 2vw, 60px);
}

.main-header .navigation {
  display: flex;
  justify-content: space-between;
  width: 72.5%;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-18);
  font-weight: 500;
}

.main-header .navigation .action {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-black-first);
  transition: 100ms linear;
}

.main-header .navigation .action .seta {
  font-size: var(--font-28);
  margin-left: 5px;
  transform: rotate(90deg);
  transition: 300ms;
}

.main-header .navigation .action:hover {
  transition: 100ms linear;
  color: var(--color-link-first);
  transform: scale(1.02);
}

.main-header .navigation .action.main-button {
  color: var(--color-first);
  margin-left: 5%;
}

.main-header .navigation .action.main-button:hover {
  color: var(--color-second);
  background: var(--color-second-opacity);

  border-radius: 10px;
}
