.box-wrapper.footerLogo {
  flex-direction: column;
  width: 40%;
}

.box-wrapper.footerLogo .-logo {
  display: flex;
  align-items: center;
}

.box-wrapper.footerLogo .-logo .height {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.box-wrapper.footerServices {
  flex-direction: column;
  width: 20%;
}

.box-wrapper .mediasFooter {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  position: absolute;
  bottom: 0;
}

.mediasFooter .md {
  display: flex;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 200ms linear;
}

.mediasFooter .fc {
  background-image: url(../assets/icon/fc.png);
}
.mediasFooter .fc:hover {
  transform: scale(1.05);
}
.mediasFooter .tw {
  background-image: url(../assets/icon/tw.png);
}
.mediasFooter .tw:hover {
  transform: scale(1.05);
}
.mediasFooter .in {
  background-image: url(../assets/icon/in.png);
}
.mediasFooter .in:hover {
  transform: scale(1.05);
}
.mediasFooter .lk {
  background-image: url(../assets/icon/lk.png);
}
.mediasFooter .lk:hover {
  transform: scale(1.05);
}

.box-wrapper.footerCompany {
  flex-direction: column;
  width: 20%;
}

.box-wrapper.footerContact {
  flex-direction: column;
  width: 20%;
}

.box-wrapper.footerContact .-li {
  display: flex;
  align-items: center;
}

.box-wrapper.footerContact .-li::before {
  content: "";
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.email::before {
  background-image: url(../assets/icon/ca.png);
}

.contact::before {
  background-image: url(../assets/icon/ph.png);
}

.local::before {
  background-image: url(../assets/icon/lc.png);
}
