.box-wrapper {
  display: flex;
  max-width: 28%;
  /* background-color: silver; */
}

.box-wrapper .main-box .text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-black-second);
}

/* principles */
.box-wrapper.-principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-wrapper .main-box.-principles .text {
  font-size: 18px;
  padding-top: 15px;
}
