.box-wrapper {
  display: flex;
  max-width: 28%;
}

/* principles */
.box-wrapper.-principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box-wrapper .main-box.-principles .-text {
  font-size: 18px;
  padding-top: 10%;
}
