/* Title */
.main-title {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.main-title.-logo {
  font-size: var(--font-40);
  margin-left: 10px;
  color: var(--color-font-first);
}

.main-title.-logo.-footer {
  font-size: var(--font-30);
  text-decoration: none;
}

.main-title.-first {
  font-size: var(--font-32);
  margin-left: 10px;
  line-height: 200%;
}

.main-title.-second {
  font-size: var(--font-20);
  line-height: 24px;
  font-weight: 600;
  color: var(--color-font-first);
  padding-bottom: 1vw;
}

.main-title.-gray {
  font-size: var(--font-42);
  font-weight: 700;
  color: var(--color-black-second);
}

.main-title.-third {
  font-size: var(--font-36);
  font-weight: 700;
  color: var(--color-font-first);
  padding-bottom: 5%;
}

.main-title.-orange {
  font-size: var(--font-36);
  font-weight: 800;
  color: var(--color-second);
}

.main-title.-white {
  font-size: var(--font-24);
  font-weight: 700;
  line-height: 130%;
  color: var(--color-first);
  padding-top: 5%;
}

.main-title.-white-2 {
  font-size: var(--font-24);
  font-weight: 700;
  line-height: 130%;
  color: var(--color-first);
  padding-top: 5%;
}

.main-title.-columnFooter {
  font-size: var(--font-20);
  text-decoration: underline;
  color: var(--color-second);
  font-weight: 700;
  line-height: 50px;
}
