.main-section {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

.main-section.-description {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.main-section.-center {
  flex-direction: column;
  align-items: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.main-section.-max {
  justify-content: center;
  background-color: var(--color-font-first);
  max-width: 100%;
  padding-top: 2.5%;
  padding-bottom: 4%;
}

.main-section.-tool {
  padding-top: 5%;
  padding-bottom: 2.5%;
  flex-direction: column;
}

.main-section.-benefits {
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: var(--color-third);
}

.main-section.banner-midle {
  max-width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main-section.-support {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-bottom: 6vw;
  background-image: url(../../assets/img/Globalization.png);
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: 40%;

  position: relative;
}

.main-section.-blog {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-section.message {
  justify-content: center;
  background-color: var(--color-font-first);
  max-width: 100%;
  margin-top: 4%;
  margin-bottom: 5%;
}
