.main-title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.main-title.-logo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-left: 10px;
}
