.main-section {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.main-section.-description {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.main-section.-principles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.main-section.-localization {
  justify-content: center;
  background-color: var(--color-font-first);
  max-width: 100%;
  padding-top: 2.5%;
  padding-bottom: 4%;
}

.main-section.-benefits {
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 2.5%;
  background-color: var(--color-third);
}

.flex-direction {
  /* aqui consertar !!!!!!!!!!!!! */
  display: flex;
  justify-content: space-between;

  background-image: url(../../assets/img/arrow.png);
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: 50%;
}

.main-section.-tool {
  padding-top: 5%;
  padding-bottom: 2.5%;
  flex-direction: column;
}
