.main-icons.-description {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 34px;
  width: 34px;
  margin-right: 10px;
  background: linear-gradient(60.02deg, #ff9933 13.48%, #f36c20 86.55%);
  border-radius: 50%;

  font-family: "Poppins", sans-serif;
  color: var(--color-first);
  font-size: 16px;
}

.main-icons.-principles {
  height: 44px;
  width: 44px;
  margin-bottom: 50px;
}
