.main-box {
  display: flex;
  flex-direction: column;
}

.main-box.-banner {
  align-items: center;
  text-align: center;

  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
}
.main-box.-banner .main-button {
  margin-top: 25px;
}

.main-box.-principles {
  width: 80%;
  font-size: var(--font-18);
  padding-top: 10%;
}

.main-box.-blogHeader {
  box-sizing: content-box;
  display: flex;
  justify-content: end;
  align-items: center;

  width: 100%;
  height: 50%;
  background-image: url(../../assets/img/Shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.main-box.-blogHeader .boxSize {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 25%;
  transform: translateY(20%);
  border: 2px solid #f0f0f6;
  background-color: #fff;
  text-decoration: none;
}

.main-box.-blogHeader.-order1 {
  background-image: url(../../assets/img/Shape-1.png);
}

.main-box.-blogHeader.-order2 {
  background-image: url(../../assets/img/Shape-2.png);
}

.main-box.-blogFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  height: 50%;
  padding-top: 20px;
}
