/* Title */
.main-title {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.main-title.-logo {
  font-size: 40px;
  margin-left: 10px;
}

.main-title.-first {
  font-size: 32px;
  margin-left: 10px;
  line-height: 200%;
}

.main-title.-second {
  font-size: 20px;
  line-height: 24px;
}

.main-title.-gray {
  font-size: 42px;
  font-weight: 700;
  color: var(--color-black-second);
}

.main-title.-third {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-black-first);
  padding-bottom: 5%;
}

.main-title.-orange {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-second);
}

/* Subtitle */
.main-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.main-subtitle.-text {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-black-second);
}

.main-subtitle.-first {
  font-size: 16px;
  line-height: 200%;
}

.main-subtitle.-second {
  font-size: 12px;
  color: var(--color-second);
  font-weight: 400;
  line-height: 28px;
}
